name: CI

on:
  workflow_dispatch:
  merge_group:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up TinyGo
      uses: acifani/setup-tinygo@v2
      with:
        tinygo-version: '0.39.0'

    - name: Clean Up
      run: make clean

    - name: Build
      run: make build

    - name: Lint
      run: make lint

    - name: Test
      run: make test
